.issue-circle{
    border-radius: 50%;
    height: 50px;
    padding: 6px 15px;
    width: 50px;
    color: white;
    display: inline-block;
}

#issue-remain{
    background-color: #D32F2F;
}
#total-issue{
    background-color: #303F9F;
}

footer p{
    font-weight: 600;
    font-size: 2rem;
}